.scroll-container-wrapper-Appliances {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: white;
    padding: 0 10px;
}

.scroll-container-Appliances {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    padding: 10px;
}

.home-items-Appliances-div {
    flex: 0 0 auto;
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the width as needed */
}

.scroll-arrow-Appliances {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 24px;
    width: 50px;
    height: 80px;
    font-size: 3rem;
    z-index: 10;
}

.scroll-arrow-Appliances.left {
    left: 0;
}

.scroll-arrow-Appliances.right {
    right: 0;
}

.home-items-Appliances-image{
    width: 70%;
    height: 70%;
}
.home-items-Appliances-image img{
    width: 100%;
    height: 100%;
}

@media screen and (min-width:760px) {
    .scroll-container-Appliances {
        gap: 1rem;
    }
    
    .home-items-Appliances-image{
        width: 100%;
        height: 100%;
    }
    .home-items-Appliances-image img{
        width: 100%;
        height: 100%;
    }
}